.register {
    background-color: rgb(238, 236, 236) !important;
    position: absolute;
    left: 35%;
    top: 30%;
    width: 30%;
    padding: 30px;



    .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #1890ff !important;
        border-color: #1890ff !important;
    }

    .ant-btn-primary {
        background: #1890ff !important;
    }
}